<div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Over mij</h2>
    <hr class="light">
    <p class="text-faded">Hier staat informatie over mij.</p>
    <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button">Neem contact met mij op!</a>
</div>