	<header>
	  <div class="header-content">
	    <div class="jumbotron" id="headintro">
	    <div class="header-content-inner">
	      <h1 id="homeHeading">Welkom!</h1>
	      <hr>
	      <p>Dit is mijn persoonlijke website.</p>
	      <a href="#about" class="btn btn-primary btn-xl page-scroll">Meer over mij</a>
	    </div>
	    </div>
	  </div>
	</header>

	<section class="bg-primary" id="about">
	<div class="container">
	  <div class="row">
	    <%= render 'pages/about' %>
	  </div>
	</div>
	</section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="#" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
              <%= render 'pages/contact' %>
            </div>
        </div>
    </section>
